<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>users 테이블의 list를 출력하는 페이지</h1>
	<hr>
	<a href="/users/insert">회원등록</a>
	<hr>
	<table>
		<tr>
		<th>순번</th>
		<th>번호</th>
		<th>이메일</th>
		<th>이름</th>
		<th>비밀번호</th>
		<th>등록일</th>
		</tr>
		
		<tr th:each ="users:${usersList}">
			<td><a th:href="@{|/users/detail/${users.idx}|}">[[${users.idx}]]</a></td>
			<td th:text="${users.cnt}"></td>
			<td th:text="${users.email}"></td>
			<td th:text="${users.name}"></td>
			<td th:text="${users.pass}"></td>
			<td th:text="${users.regdate}"></td>
		</tr>
		
	</table>
</body>
</html>