	
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<h5 class="my-3 border-bottom pb-2">회원 등록</h5>
	
	<form th:action = "@{/users/insert}" th:object="${usersForm}" method="post">
		<!-- 오류 메세지 출력 부분  -->
		
		<!-- 외부 파일에서 import -->
		<div th:replace="~{forms_errors::formErrorsFragment}"></div>
		<div class="mb-3">
			<label for ="name" class="form-label">이름</label>
			<input type="text" name="name" th:field="*{name}" id="name" class="form-control">
		</div>
		<div class="mb-3">
			<label for="pass" class="form-label">비밀번호</label>
			<textarea name="pass" th:field="*{pass}" id="pass" class="form-control"></textarea>		
		</div>
			<div class="mb-3">
			<label for="email" class="form-label">이메일</label>
			<textarea name="email" th:field="*{email}" id="email" class="form-control"></textarea>		
		</div>	
			<div class="mb-3">
			<label for="cnt" class="form-label">번호</label>
			<textarea name="cnt" th:field="*{cnt}" id="cnt" class="form-control"></textarea>		
		</div>	
		
		<input type="submit" value="저장하기1" class="btn btn-primary my2">		
	
	
	</form>
	
</div>
</html>